{% extends "base.html" %} 


{% comment %} Тест коммет {% endcomment %} 
{% block title %}О сервисе{% endblock %} 

{% block header %}
{% include 'menu.html' %}
{% endblock %}

{% block content %}

<div class='container py-4'>

    <h1 class='text-center'>Приветствуем Вас на нашем сайте лучшего Автосервиса в Петрозаводске!</h1>

    <a href={% url 'services' %} class="w-100 btn btn-dark mb-5 mt-5 py-3 ">
        <h4>Оставьте простую заявку, заполните форму и в скором времени с Вами свяжутся специалисты!</h4></a>
    
    <h2>Наши услуги</h2>
    
    <h3>Шиномонтаж</h3>
        <h5>Демонтаж резины с диска</h5>
            <ul>
                <li>Промывка колеса от песка, пыли, мелкого гравия</li>
                <li>Колесо с диском укладывают на бортировочный стол</li>
                <li>Фиксируют диск пневмозажимами и подводят к нему специальную штангу</li>
                <li>После чего устанавливают зазор, по которому будут отделять резину от металлического обода</li>
                <li>Затем подключают станок, который отделит одни элементы от других</li>
            </ul>
        <h5>Очистка дисков от загрязнений</h5>
            <ul>
                <li>Подготовка необходимых средств</li>
                <li>Осмотр и оценка степени загрязнения</li>
                <li>Удаление грязи и глубокая очистка</li>
                <li>Проверка поверхности, смывание средств</li>
                <li>Покрытие защитным слоем</li>
            </ul>
        <h5>Балансировка колес</h5>
            <ul>
                <li>Колесо в сборе крепится в балансировочном станке</li>
                <li>Быстро раскручивается</li>
                <li>Компьютер определяет самые тяжелые сегменты колеса с его наружной и внутренней стороны</li>
                <li>Которые затем уравновешиваются грузиками</li>
                <li>Повторная калибровка колеса</li>
            </ul>
        <h5>Ремонт шин</h5>
            <ul>
                <li>Осмотр поврежденного места</li>
                <li>Зачистка</li>
                <li>Определение процедуры ремонта</li>
                <li>Устранение дефекта</li>
            </ul>
        <h5>Шиповка</h5>
            <ul>
                <li>Измерение глубины посадочных мест</li>
                <li>Очистка отверстий от мусора</li>
                <li>Смазывание отверстий</li>
                <li>Установка шипов специальным инструментом</li>
            </ul>
        <h5>Сезонная замена колес</h5>
            <ul>
                <li>Проверка состояния шин</li>
                <li>Перестановка шин</li>
                <li>Проверка давления и балансировка</li>
                <li>Диагностика ходовой части</li>
                <li>Регулировка углов установки колёс</li>
            </ul>

    <h3>Кузовные работы</h3>
        <h5>Косметический ремонт</h5>
            <ul>
                <li>Покраска</li>
                <li>Полировка</li>
            </ul>
        <h5>Локальный ремонт</h5>
            <ul>
                <li>Осмотр и выравнивание поверхности</li>
                <li>Нанесение специальных грунтов</li>
                <li>Подбор цвета</li>
                <li>Нанесение основной базы и лака</li>
            </ul>
        <h5>Рихтовка</h5>
            <ul>
                <li>Анализ повреждений</li>
                <li>Восстановление начальной формы детали</li>
                <li>Удаление мелких дефектов</li>
            </ul>
        <h5>Восстановление геометрии кузова</h5>
            <ul>
                <li>Визуальная оценка повреждений</li>
                <li>Измерение кузова и восстановление его геометрии</li>
                <li>Обработка деталей</li>
                <li>Покраска поверхности кузова</li>
            </ul>
        <h5>Капитальный ремонт</h5>
            <ul>
                <li>Разборка автомобиля</li>
                <li>Рихтовочные и сварочные работы</li>
                <li>Подготовка к покраске</li>
                <li>Сборка и полировка</li>
            </ul>
        <h5>Удаление царапин</h5>
            <ul>
                <li>Подкрашивание</li>
                <li>Полировка</li>
            </ul>

    <h3>Подвесная составляющая автомобиля</h3>
        <h5>Передний узел</h5>
            <ul>
                <li>Осмотр</li>
                <li>Выявление дефектных деталей</li>
                <li>Подбор новых</li>
                <li>Замена</li>
            </ul>
        <h5>Амортизаторы</h5>
            <ul>
                <li>Анализ повреждений</li>
                <li>Снятие с автомобиля</li>
                <li>Установка</li>
            </ul>
        <h5>Наконечники, опоры</h5>
            <ul>
                <li>Осмотр</li>
                <li>Выявление дефектных деталей</li>
                <li>Подбор новых</li>
                <li>Замена</li>
            </ul>
        <h5>Рычаги</h5>
            <ul>
                <li>Осмотр</li>
                <li>Выявление дефектных деталей</li>
                <li>Подбор новых</li>
                <li>Замена</li>
            </ul>
        <h5>Подшипники</h5>
            <ul>
                <li>Осмотр</li>
                <li>Выявление дефектных деталей</li>
                <li>Подбор новых</li>
                <li>Замена</li>
            </ul>
        <h5>Задний механизм</h5>
            <ul>
                <li>Осмотр</li>
                <li>Выявление дефектных деталей</li>
                <li>Подбор новых</li>
                <li>Замена</li>
            </ul>

    <h3>Дополнительные услуги</h3>
        <h5>Автоэлектрика</h5>
            <ul>
                <li>Система зажигания</li>
                <li>Стартер и запуск двигателя</li>
                <li>Микроклимат в салоне</li>
                <li>Управление двигателем и коробкой передач</li>
                <li>Бортовой компьютер и диагностика</li>
            </ul>
        <h5>Регулировка фар</h5>
            <ul>
                <li>Замер падения угла на специальном стенде</li>
                <li>Регулировка</li>
            </ul>
        <h5>Тонировка стекол</h5>
            <ul>
                <li>Подбор пленки</li>
                <li>Чистка стекла</li>
                <li>Нанесение мыльного раствора</li>
                <li>Покрытие пленкой</li>
            </ul>
        <h5>Техническое обслуживание по пробегу</h5>
            <ul>
                <li>Контрольный осмотр</li>
                <li>Замена масла</li>
                <li>Замена воздушного и салонного фильтров</li>
                <li>Подбор расходников</li>
                <li>Сертификация</li>
            </ul>
        <h5>Установка сигнализации</h5>
            <ul>
                <li>Подбор оборудования</li>
                <li>Индивидуальный подход</li>
                <li>Внедрение материала</li>
            </ul>
        <h5>Установка фаркопов</h5>
            <ul>
                <li>Подбор прицепного устройства</li>
                <li>Установка с блоком согласования и подключение электрики</li>
                <li>Подготовка всех документов для предъявления ГИБДД</li>
                <li>Сертификаты на установку</li>
            </ul>


    <div class='row'>
        <div class="col-lg-6 col-md-12">
            <p>"Автосервис-Топ" – это профессиональный автосервис в Петрозаводске, где вам предложат высокое 
                качество обслуживание по приемлемой цене. Мы относительно недавно открылись, но уже  завоевали 
                любовь и уважение клиентов, мы ответственно занимаемся ремонтом 
                машин любых брендов и готовы устранить неполадки любой сложности без ущерба для 
                вашего времени.</p>
        </div>
        <div class="col-lg-6 col-md-12">
            <p>Наш сервис предоставляет огромный спектр услуг на профессиональном уровне. К Вашим услугам 
                доступны:</p> 
                <p><b>Шиномонтаж</b> - демонтаж резины с диска, ремонт шин, очистка дисков, шиповка резины, 
                балансировка и сезонная замена колес.</p>  
                <p><b>Кузовной цех занимается:</b> косметический, капитальный и 
                локальный ремонт, рихтовка, удаление царапин и восстановление геометрии кузова.</p> 
                <p><b>Работы с додвесными элементами:</b> передний и задний узел, рычаги, шрусы, опоры, наконечники, 
                подшипники, амортизаторы.</p> 
                <p><b>Дополнительные услуги:</b> автоэлектрика, регулировка фар, тонировка стекол, ТО, установка 
                сигнализации и фаркопов.</p>
                <div class="btn-block">
                <a href={% url 'services' %} class="w-100 btn btn-dark">
                <h5>Более подробная инофрмация <i class="bi bi-arrow-right-square-fill"></i></h5></a>
                </div>
        </div>
    </div>

</div>

{% endblock %}